.ul{
    border: 1px solid;
    border-radius: 7px;
    box-shadow: 2px 3px 15px 0 blueviolet;
    background-color: chocolate;
    color: aliceblue;

}

.li {
    list-style: none;
    position: relative;
    right: 40px;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    background-color: #8758f3;
    border: none;
    color: white;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    position: relative;
    left: 45px;
    font-size: 10px;
    margin: 2px 10px;
    cursor: pointer;
    border-radius: 8px;
}

.h3{
    border: 1px solid;
    border-radius: 7px;
    text-align: center;
    box-shadow: 2px 3px 15px 0 blueviolet;
    background-color: chocolate;
    color: aliceblue;
}

.span{

    width: 100%;
}

.error{
    border: 1px solid red;
}
.errorMessage{
    color: red;
    font-size: 9px;
    font-style: italic;
    font-weight: bold;
}

.activeButton{
    background-color: #916af3;
}

.isDone{
    opacity: 0.5;
}